html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body--font {
    font-family: 'Lato', sans-serif;
}

.body--color {
    background-color: rgb(226, 226, 226);
}

.form__input {
    padding: 10px;
    border: 1px solid #ddd;
}